*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #515A5A ;
	color: #909497 ;
	font: normal 0.9rem Arial, Helvetica,sans-serif;
}

p{
	font-size: 1em;
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

h1,h2,h3,h4,h5,h6{
	color:#098EFF;
	font-size: 1.7em;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
	text-shadow: 0px -1px 0px #fff;
}

h2{
	font-size: 1.6em;
	color:#7B1B64;
	

}
h3{
	color: #FFF;
	font: bold 1.3em Arial, sans-serif;
	text-shadow: 2px 1px #000;
}

h4,h5,h6{
	color: #FFF;
	font-size: 1.5em;
	margin: 0;
	padding: 0 0 0 px 0;

}

h5,h6{
	font-size: 0.95em;
	color: #888;
	padding-bottom: 15px;
}


main,header, #barra_menu, section, footer{
	margin: 0 auto;
}

header{
	height: 80px;
	width: 940px;
	padding: 15px 0 0 0 ;
	position: relative;
}

section#contenido{
	background-color: #FFF;
	border-radius: 10px;
	margin-bottom: 30px;
	padding-left: 20px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
	width: 920px;
}
section#contenido_gris{
	background: #000;
	background: -moz-linear-gradient(#676767, #1D1D1D);
	background: -o-linear-gradient(#676767, #1D1D1D);
	background: -webkit-linear-gradient(#676767, #1D1D1D);
	height:160px;
	width: 940px;
	text-align: center;
}

footer{
	background: -moz-linear-gradient(#FFF, #BBB);
	background: -o-linear-gradient(#FFF, #BBB);
	background: -webkit-linear-gradient(#FFF, #BBB);
	height: 60px;
	margin-top: 30px;
}

a,a:hover{
	color: #1D1D1D;
	text-decoration: none;
}

a:hover{text-decoration: underline;}

}